header {
	height: 80px;
	width: 100%;
	position: fixed;
	//position: relative;
	z-index: 1000;
	//z-index: 10;
	top: 0;
	background-color: $theme-yellow;
	color: #fff;




	.inner-container {
		padding: 0;
		background-color: $theme-yellow;
		width: 100%; 
		min-height: 80px;


		.site-icon {
			display: flex;
			flex-direction: row;
			width: 100%;
			//	justify-content: center;
			//align-items: center;


			.logo-icon {
				width: 40px;
				height: 40px;
				margin-top: 20px;
				margin-left: 20px;
			}

			.logo-text {
				
				//display: block;
				//margin-left: 76px;
				padding-left: 16px;
				padding-top: 15px;
				font-size: 26px;
				//size: 32px;
				width: 600px;
				height: 30px;
				color: $theme-black;

				@include media-tablet {
					display: none;
				}
			}

		}





		// .site-icon-header {
		// 	width: 40px;
		// 	height: 40px;
		// 	margin-top: 20px;
		// 	margin-left: 20px;
		// }




		@include media-desktop {
			padding: 0 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 1600px;
			height: auto;
			margin: 0 auto;

			.text-header {
				color: $theme-black;
				margin-top: 25px;
				margin-left: 76px;
			}


		}



		// a.logo-home-link {
		// 	padding: 8px 10px 0 0;

		// 	img {
		// 		margin: 0 auto;
		// 		display: block;
		// 	}

		// }



		ul {
			padding: 0;
			margin: 0;

			li {
				&.current-menu-item,
				&:hover {
					position: relative;
					> a {
						font-weight: 700;
					}

					@include media-desktop {
						&::before {
							position: absolute;
							width: 100%;
							top: 0;
							background: white;
							height: 2px;
							content: " ";
							display: block;
						}
					}
				}

				a {
					display: inline-block;
					padding: 16px 0;
				}

				button {
					background-color: transparent;
					border: none;
					color: #fff;
					cursor: pointer;
					padding: 0 7px;
					margin: 0;
					outline: none;

					img {
						width: 10px;
					}

					&.open-submenu {
						padding: 0;
						width: 100%;
					}
				}
			}

			li.menu-item {
				&.submenu-opened {
					.menu-item {
						border: none;
						a {
							padding-top: 0;
						}
					}
				}
			}
		}

		#menu-header {
			display: none;

			@include media-desktop {
				display: block;
			}

			button.open-submenu {
				overflow: hidden;
				height: 50px;
				margin: 0;
				display: block;
				padding: 0;

				&:hover {
					font-weight: 700;
				}

				a img {
					margin-left: 10px;
					padding-top: 3px;
				}
			}

			> ul {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 0 30px 0 10px;
				font-size: 14px;
				position: relative;

				> li {
					margin-right: 8px;

					ul {
						display: none;
					}

					a {
						line-height: 1;
						padding: 0;
						height: 52px;
						overflow: hidden;
						display: flex;
						align-items: center;
					}

					&.submenu-opened {
						ul {
							display: block;
							position: relative;
							z-index: 1;

							&:before {
								display: block;
								position: absolute;
								background: $theme-black;
								width: 300vw;
								top: 0;
								content: "";
								height: 100%;
								z-index: -1;
								left: -100vw;
							}
						}
					}
				}
			}
		}

		#hamburger-menu-toggler {
			position: fixed;
			top: 31px;
			right: 16px;
			border-style: none;
			background-color: transparent;
			outline: none;
			cursor: pointer;
			height: 18px;
			width: 36px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			z-index: 6;

			@include media-desktop {
				display: inline;


			// 	.bar {
			// 		background-color: $theme-black;
			// 		height: 2px;
			// 		width: 100%;
			// 		opacity: 1;
			// 		transition: all 0.3s ease-in-out;
			// 		-webkit-transition: all 0.3s ease-in-out;
			// }
			}

			.bar {
				background-color: $theme-orange;

				height: 6px;
				width: 36px;
				border-radius: 4px;
				opacity: 1;
				transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
			}

			.bar-space {
				height: 6px;
				width: 36px;
			}
		}

		#hamburger-menu-container {
			display: none;
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $theme-black;
			padding: 20px;
			z-index: 5;

			a.logo-home-link {
				width: 140px;
				display: block;
				margin: 0 auto;
				padding: 0;
			}

			#menu-hamburger {
				ul {
					li {
						a {
							display: flex;
							align-items: center;
							justify-content: space-between;
							font-size: 20px;
						}

						button {
							img {
								width: 16px;
							}
						}

						&.open-submenu {
							padding: 0;
							width: 100%;
						}
					}
				}
				li.menu-item {
					border-bottom: solid 1px;

					&.submenu-opened {
						.menu-item {
							border: none;
							a {
								padding-top: 0;
							}
						}
					}
				}

				> ul {
					> li {
						ul {
							display: none;
						}

						&.submenu-opened {
							ul {
								display: block;
							}
						}
					}
				}
			}

		}
	}
}
