h1 {

    font-family: $theme-title-font;

}

h2 {
    font-family: $theme-main-title-font;
    font-size: 20px;
}

h3 {
    font-family: $theme-main-font;
    line-height: 110%;
    letter-spacing: 0%;
}

h4 {
    font-family: $theme-form-font;
}


body{
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    width: 100%;

    //font-family: $theme-main-title-font;

    main {
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
        width: 100%;





        .container-general{
            width: 100%;

            .first-section {
                display:flex;
                flex-direction: row;
                gap: 0px;


                width: 100vw; /* ocupa todo el ancho de la ventana */
                //max-width: 100vw;
                height: 662px; /* ocupa todo el alto de la ventana */
                //max-height: 662px;

                //width: 100%;
                //min-height: calc(100vh - 80px); // si el header mide 80px aprox

                
                margin: 0;
                top: 80px;
                padding: 80px 0 0 0;

                @include media-tablet{
                    flex-direction: column;
                    height: auto;
                    //justify-content: space-between;
                    height: 1550px;
                }


                .first-section__logo-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    flex: 1;
                    height: 662px;
                    background-color: $theme-green;
                    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.25) inset;

                    overflow: hidden;

                    .first-section__logo-section__logo {
                        max-width: 100%;
                        height: auto;
                        display: block;

                        @include media-mobile {
                            max-width: 360px;
                            height: auto;
                        }
                    }


                    .first-section__logo-section____text {
                        text-align: center;
                    }
                }

                .first-section__picture-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    
                    flex: 1;
                    height: 662px;
                    background-color: $theme-pink;

                    .first-section__picture-section__title {
                        text-align: center;
                        .salto {
                            display: inline;

                            @include media-mobile {
                                display: block;
                                //text-align: center;
                            }
                        }

                            
                    }

                    .first-section__picture-section__sub-title {
                        text-align: center;
                    }

                    .first-section__picture-section__form {
                        padding: 20px 0 0 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .first-section__picture-section__form__input {
                            padding: 0 0 0 10px;
                            width: 320px;
                            height: 43px;
                            //text-align: center;
                            border: 1px solid;
                            border-color: $theme-black;
                            border-radius: 4px;

                            &::placeholder {
                                font-family: $theme-form-font;
                                color: gray;
                            }

                        }

                        .first-section__picture-section__form__button {
                            width: 137px;
                            height: 55px;
                            border: 1px solid;
                            background-color: $theme-cyan;
                            border-radius: 4px;
                            margin: 5px 0 0 0;

                            .first-section__picture-section__form__button__text {
                                margin: 0;
                                font-size: 24px;
                            }

                        }
                    }

                    .first-section__picture-section__picture {
                        padding: 20px 0 0 0;
                    }
                }


                
            }

            .second-section {
                background-color: $theme-cyan;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 852px;

                @include media-tablet{
                    height: 2147px;
                }

                .second-section__obj-text-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    //margin: 240px 0 0 0;

                    @include media-tablet{
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    .second-section__obj-text-section__slain-text-section {
                        position: relative;
                        display: inline-block;

                        @include media-mobile {
                            margin: 21px 0 0 0;
                        }

                        .stain{
                            display: block;
                            width: 100%;
                            height: auto;

                            @include media-tablet {
                                width: auto;
                                max-width: none;
                            }
                        }

                        .text-above {
                            position: absolute;
                            top: 0;
                            //left: 0;
                            margin: 0;
                            padding: 100px 0 0 80px;


                            //color: white;
                            //background-color: rgba(0, 0, 0, 0.5);
                            font-size: 44px;

                        }
                        
                    }

                    .second-section__obj-text-section__arrow-section {

                        @include media-tablet {
                            margin: 38px 0 0 0;
                            transform: rotate(90deg);
                        }
                    }

                    .second-section__obj-text-section__sec-text {

                        @include media-tablet {
                            display: none;
                        }
                    }
                
                }

                .second-section__text-section__desktop {
                    margin: 80px 0 0 0;
                    line-height: 24px;
                    letter-spacing: 1px;

                    @include media-tablet {
                        display: none;
                    }
                }

                .second-section__text-section__mobile {
                    margin: 40px 0 0 0;
                    width: 320px;
                    height: auto;
                    line-height: 120%;
                    display: none;

                    // @include media-desktop {
                    //     display: none;
                    // }

                    @include media-tablet {
                        display: block;
                    }
                }


            }

            .third-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100vw; /* ocupa todo el ancho de la ventana */
                height: 1108px; /* ocupa todo el alto de la ventana */
                max-height: 1108px;
                background-color: $theme-orange;

                padding: 80px 0 0 0;

                gap: 20px;



                .third-section__title {
                    text-align: center;
                }


                .third-section__carousel {
                    //display: none;
                    // width: 300px;
                    // height: 375px;

                    @include media-mobile {
                        display: block;
                        position: relative;
                        //width: 100%;
                        width: 300px;
                        height: 375px;
                        overflow: hidden;
                        margin: auto;

                        .third-section__carousel__cards {
                            display: flex;
                            transition: transform 0.5s ease-in-out;
                        }

                        .card {
                            width: 300px;
                            height: 375px;
                            min-width: 100%;
                            box-sizing: border-box;

                            img {
                                width: 300px;
                                height: 375px;
                                display: block;
                            }
                        }
                    }


                    .third-section__carousel__cards {              
                        display: flex;
                        gap: 20px;
                    }

                    .third-section__carousel__button {
                        display: none;

                        @include media-mobile {
                            display: block;
                        }
                    }



                }


                


                .third-section__only-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 320px;
                    height: 487px;
                    background-color: $theme-light-green;
                    border: 1px;
                    border-radius: 16px;
                    margin: 0 0 60px 0;

                    .card {
                        padding: 24px 0 0 0;
                    }

                    .sub-title {
                        text-align: center;
                    }
                }
            }

            .fourth-section {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: row;
                width: 100vw; /* ocupa todo el ancho de la ventana */
                height: 753px; /* ocupa todo el alto de la ventana */
                //max-height: 753px;
                background-color: $theme-yellow;

                // padding: 80px 0 0 0;

                @include media-tablet {
                    flex-direction: column;
                    height: 1349px;
                    justify-content: flex-start;
                    align-items: center;
                }


                .fourth-section__picture-section {
                    display: flex;
                    flex-direction: column;

                    .fourth-section__picture-section__title {
                        text-align: center;
                    }

                    .fourth-section__picture-section__sub-title {
                        text-align: center;
                    }
                }

                .fourth-section__text-section {
                    padding: 40px 40px 0 40px;

                    @include media-mobile {
                        padding: 24px 20px 0 20px;
                    }



                    .fourth-section__text-section__text {
                        //width: 737px;
                        //width: auto;
                        max-width: 737px;
                        height: 494px;
                        font-size: 24px;

                        @include media-tablet {
                            //width: auto;
                            width: 320px;
                            display: none;
                        }
                    }

                    .fourth-section__text-section__text-mobile {
                        display: none;

                        @include media-tablet {
                            display: block;
                            width: 320px;
                        }
                    }

                }


            }

            .form-section {
                width: 100vw;
                height: 634px;
                background-color: $theme-yellow;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                @include media-mobile {
                    width: 360px;
                    height: 664px;
                    max-width: 360px;
                    //text-align: center;
                }


                .form-section__title {
                    text-align: center;

                    @include media-mobile {
                        text-align: center;
                    }
                }

                .form-section__form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;


                    ///aca
                    @include media-tablet {
                        width: 360px;
                        max-width: 360px;
                    }

                    .form-section__form__input-name {
                        display: flex;
                        flex-direction: column;
                        width: 600px;
                        // height: 43px;
                        //padding: 0 0 0 0;
                        gap: 5px;

                        @include media-tablet {
                            width: 320px;
                            max-width: 360px;
                        }

                        .form-section__form__input-name__name {
                            padding: 0 0 0 10px;
                            width: 100%;
                            max-width: 600px;
                            height: 43px;
                            //text-align: center;
                            border: 1px solid;
                            border-color: $theme-black;
                            border-radius: 4px;

                            &::placeholder {
                                font-family: $theme-form-font;
                                color: gray;
                            }

                            @include media-mobile {
                                width: 320px;
                            }
                        }

                    }

                    .form-section__form__input-mail {
                        display: flex;
                        flex-direction: column;
                        width: 600px;
                        // height: 43px;
                        //padding: 0 0 0 0;
                        gap: 5px;

                        @include media-tablet {
                            width: 320px;
                            max-width: 360px;
                        }

                        .form-section__form__input-mail__mail {
                            padding: 0 0 0 10px;
                            width: 100%;
                            height: 43px;
                            //text-align: center;
                            border: 1px solid;
                            border-color: $theme-black;
                            border-radius: 4px;

                            //font-family: $theme-form-font;

                            &::placeholder {
                                font-family: $theme-form-font;
                                color: gray;
                            }

                            @include media-mobile {
                                width: 320px;
                            }
                        }

                    }

                    .form-section__form__input-wsp {
                        display: flex;
                        flex-direction: column;
                        // width: 600px;
                        // height: 43px;
                        //padding: 0 0 0 0;
                        gap: 5px;

                        @include media-mobile {
                            width: 320px;
                        }
                            
                        
                        .form-section__form__input-wsp__wsp {
                            padding: 0 0 0 10px;
                            width: 600px;
                            height: 43px;
                            //text-align: center;
                            border: 1px solid;
                            border-color: $theme-black;
                            border-radius: 4px;

                            &::placeholder {
                                font-family: $theme-form-font;
                                color: gray;
                            }

                            @include media-mobile {
                                width: 320px;
                            }
                        }

                    }

                    .form-section__form__input-consul {
                        display: flex;
                        flex-direction: column;
                        // width: 600px;
                        // height: 43px;
                        //padding: 0 0 0 0;
                        gap: 5px;

                        @include media-mobile {
                            width: 320px;
                        }
                            
                        
                        .form-section__form__input-consul__consul {
                            // display: flex;
                            // align-items: flex-start;
                            // justify-content: flex-start;


                            padding: 0 0 60px 10px;
                            width: 600px;
                            height: 96px;

                            //text-align: center;
                            //vertical-align: top;

                            border: 1px solid;
                            border-color: $theme-black;
                            border-radius: 4px;

                            &::placeholder {
                                font-family: $theme-form-font;
                                color: gray;
                            }

                            @include media-mobile {
                                width: 320px;
                            }
                        }

                    }                   

                    .form-section__form__buttom {
                        width: 137px;
                        height: 55px;
                        border: 1px solid;
                        background-color: $theme-cyan;
                        border-radius: 4px;
                        //margin: 20px 0 0 0;

                        .form-section__form__buttom__text {
                            margin: 0;
                            font-size: 24px;
                        }
                    }

                }
            }
        }

    }


}