@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media queries */
@mixin media-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}
